body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.5em;
}

th {
    background-color: #9DACBF;
}

table {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

td {
    margin: 0px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}

tr.even {
    background-color: #CCCCCC;
}

tr.odd {
    background-color: #FFFFFF;
}
